name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install --non-interactive

      - name: Run tests with coverage
        run: yarn test:coverage

      - name: Build library
        run: yarn build

      - name: Build docs
        run: yarn docs:build
